html {
    font-size: 16px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: evolveSans-100;
    src: url("./assets/fonts/Evolve/MADE\ Evolve\ Sans\ Thin\ \(PERSONAL\ USE\).otf");
    font-display: swap;
}

@font-face {
    font-family: evolveSansEVO-100;
    src: url("./assets/fonts/Evolve/MADE\ Evolve\ Sans\ Thin\ EVO\ \(PERSONAL\ USE\).otf");
    font-display: swap;
}

@font-face {
    font-family: evolveSans-300;
    src: url("./assets/fonts/Evolve/MADE\ Evolve\ Sans\ Light\ \(PERSONAL\ USE\).otf");
    font-display: swap;
}

@font-face {
    font-family: evolveSansEvo-300;
    src: url("./assets/fonts/Evolve/MADE\ Evolve\ Sans\ Light\ EVO\ \(PERSONAL\ USE\).otf");
    font-display: swap;
}

@font-face {
    font-family: evolveSans-400;
    src: url("./assets/fonts/Evolve/MADE\ Evolve\ Sans\ Regular\ \(PERSONAL\ USE\).otf");
    font-display: swap;
}

@font-face {
    font-family: evolveSans-800;
    src: url("./assets/fonts/Evolve/MADE\ Evolve\ Sans\ Bold\ \(PERSONAL\ USE\).otf");
    font-display: swap;
}

@font-face {
    font-family: evolveSansEVO-800;
    src: url("./assets/fonts/Evolve/MADE\ Evolve\ Sans\ Bold\ EVO\ \(PERSONAL\ USE\).otf");
    font-display: swap;
}

body {
    font-family: var(--evolve-sans-evo-300);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.7;
    font-size: 15px;
    background: #10101a;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.8);
}

:root {
    --evolve-sans-100: evolveSans-100;
    --evolve-sans-evo-100: evolveSansEVO-100;
    --evolve-sans-300: evolveSans-300;
    --evolve-sans-evo-300: evolveSansEVO-300;
    --evolve-sans-400: evolveSans-400;
    --evolve-sans-800: evolveSans-800;
    --evolve-sans-evo-800: evolveSansEVO-800;
}

.vertical-scrollbar::-webkit-scrollbar {
    display: block;
    width: 6px;
}

.vertical-scrollbar::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px #e9eaeb;
}

.vertical-scrollbar::-webkit-scrollbar-thumb {
    background: #e3e3e3;
    border-radius: 150px;
}

a {
    text-decoration: none;
}